[submodule "iOS/SwiftyJSON"]
	path = iOS/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "iOS/Alamofire"]
	path = iOS/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "iOS/Snap"]
	path = iOS/Snap
	url = https://github.com/Masonry/Snap.git
[submodule "iOS/Cartography"]
	path = iOS/Cartography
	url = git@github.com:robb/Cartography.git
[submodule "iOS/HanekeSwift"]
	path = iOS/HanekeSwift
	url = https://github.com/Haneke/HanekeSwift.git
