<div class="container">
  <div class="row">
    
    <div class="panel-body">
    	<p class="text-center"><img src="/img/logo@2x.png" /></p>
        <h2 class="text-center" style="color: #fff !important;">SWAG SWAP</h2>    
    </div>
  </div>
  <div class="row">
    <div class="panel">
  	  <div class="panel-body">
	    <p>
	      <strong>SwagSwap</strong> is <em>your</em> local exchange commerce application: <em>buy</em>, <em>sell</em>, <em>trade</em> quality, gently used items with others within your university or local community! Typical listings including clothing, furniture, books, electronics, household items, pet supplies, and more!
	    </p>
	  	<p class="text-center" >
  	  	  <a class="btn btn-lg btn-success" href="/login">Log In</a>
  	  	  <a class="btn btn-lg btn-primary" href="/signup">Sign Up</a>
  	  	</p>
  	  </div>
    </div>
  </div>
</div>
